<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>跨次元检索demo</title>

<style>
	.show_image{padding:10px}
</style>

</head>
<body>
	<div style="text-align:center">
    <h1>跨次元检索demo</h1>
    <form action="" enctype='multipart/form-data' method='POST'>
        <input type="file" name="file" style="margin-top:20px;"/>
		<span> <input type="submit" value="上传" class="button-new" style="margin-top:15px;"/> </span>
        <br>
			<img src="{{ url_for('static', filename= input_image_path, _t=val1) }}" style="max-width:400px; max-height:400px"  alt="图片识别失败"/>
		<br>
    </form>

	</div>

	<table style="margin:auto">
		<td>
			<img class="show_image" src="{{ url_for('static', filename=top10_paths_dict.top1, _t=val1) }}" style="max-width:400px; max-height:400px"  alt="图片识别失败"/>
			<a href="{{top10_video_url_dict.top1}}" style="text-align:center"> <p> 视频跳转</p> </a> 
		</td>
		<td>
			<img class="show_image" src="{{ url_for('static', filename=top10_paths_dict.top2, _t=val1) }}" style="max-width:400px; max-height:400px"  alt="图片识别失败"/>
			<a href="{{top10_video_url_dict.top2}}" style="text-align:center"> <p> 视频跳转</p> </a> 
		</td>
		<td>
			<img class="show_image" src="{{ url_for('static', filename=top10_paths_dict.top3, _t=val1) }}" style="max-width:400px; max-height:400px"  alt="图片识别失败"/>
			<a href="{{top10_video_url_dict.top3}}" style="text-align:center"> <p> 视频跳转</p> </a> 
		</td>
		<td>
			<img class="show_image" src="{{ url_for('static', filename=top10_paths_dict.top4, _t=val1) }}" style="max-width:400px; max-height:400px"  alt="图片识别失败"/>
			<a href="{{top10_video_url_dict.top4}}" style="text-align:center"> <p> 视频跳转</p> </a> 
		</td>
	</table>

	<table style="margin:auto">
		<td>
			<img class="show_image" src="{{ url_for('static', filename=top10_paths_dict.top5, _t=val1) }}" style="max-width:400px; max-height:400px"  alt="图片识别失败"/>
			<a href="{{top10_video_url_dict.top5}}" style="text-align:center"> <p> 视频跳转</p> </a> 
		</td>
		<td>
			<img class="show_image" src="{{ url_for('static', filename=top10_paths_dict.top6, _t=val1) }}" style="max-width:400px; max-height:400px"  alt="图片识别失败"/>
			<a href="{{top10_video_url_dict.top6}}" style="text-align:center"> <p> 视频跳转</p> </a> 
		</td>
		<td>
			<img class="show_image" src="{{ url_for('static', filename=top10_paths_dict.top7, _t=val1) }}" style="max-width:400px; max-height:400px"  alt="图片识别失败"/>
			<a href="{{top10_video_url_dict.top7}}" style="text-align:center"> <p> 视频跳转</p> </a> 
		</td>
		<td>
			<img class="show_image" src="{{ url_for('static', filename=top10_paths_dict.top8, _t=val1) }}" style="max-width:400px; max-height:400px"  alt="图片识别失败"/>
			<a href="{{top10_video_url_dict.top8}}" style="text-align:center"> <p> 视频跳转</p> </a> 
		</td>
	</table>

	<table style="margin:auto">
		<td>
			<img class="show_image" src="{{ url_for('static', filename=top10_paths_dict.top9, _t=val1) }}" style="max-width:400px; max-height:400px"  alt="图片识别失败"/>
			<a href="{{top10_video_url_dict.top9}}" style="text-align:center"> <p> 视频跳转</p> </a> 
		</td>
		<td>
			<img class="show_image" src="{{ url_for('static', filename=top10_paths_dict.top10, _t=val1) }}" style="max-width:400px; max-height:400px"  alt="图片识别失败"/>
			<a href="{{top10_video_url_dict.top10}}" style="text-align:center"> <p> 视频跳转</p> </a> 
		</td>
	</table>

	</div>

</body>
</html>
